.sidebar {
  position: fixed;
  left: 0;
  top: 75px;
  bottom: 0;
  width: 72px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 101;
  margin-top: -20px;
}

.sidebar-link {
  height: 76px;
  transition: background-color 0.15s ease;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sidebar-link img {
  width: 24px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-size: 10px;
  font-weight: 400;
  font-family: Roboto, Arial;
}